html {
  border-top: none;
}

body {
  font-family: helvetica;
}

body h1, body .h1 {
  display: unset;
  color: #383838;
  margin-bottom: 0;
}

body h3, body h4, body h5, body h6 {
  margin-bottom: 0;
}

#header,
#about > p {
  margin: unset;
}

.content a.icon:hover {
  color: unset;
}

.content a:hover {
  color: #12712f;
  background-image: none;
}

.content a {
  background-image: none;
  text-decoration: underline;
  background-position: unset;
  background-size: unset;
  background-repeat: unset;
}


.post-list, #archive .social-media {
  margin: 0;
}

.post-list .post-item a {
  color: #383838;
  text-decoration: underline;
  background-image: none;
  background-position: unset;
  background-size: unset;
  background-repeat: unset;
}

.post-list h2 {
  margin-top: 0;
}

.post-list .post-item a:hover {
  color: #12712f;
}

#header #nav ul a {
  margin-right: 15px;
  color: unset;
  text-decoration: underline;
}

#header #nav ul a:hover {
  color: #12712f;
  background-image: unset;
}

#writing {
  margin-top: 1rem;
}

#header #nav ul li {
  color: #383838;
  border-right: 1px solid;
}

.time-to-read,
.article-read-time {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 480px) {
  .article-read-time:before, .article-tag:before, .article-category:before {
    content: "| ";
  }
  
  .post-list .post-item {
    margin-bottom: 0px;
  }

  #archive .post-list .post-item {
    margin-bottom: 0px;
  }
}
